<div class="crit card" id="<%= user.username %>_crit">
    <div class="divider">
        <div class="crit-pfp"><img src="<%= user.picture %>?s=26"></div>
        <p class="crit-name"><%= user.display_name %></p>
        <p class="crit-handle"><a href="/profile/<%= userProfile[0].profile.username%>">@<%= user.username %></a></p>
        
    </div>
    
    <div class="divider crit-btns">
        <!-- about section -->
        
        <p>I am a Crit user, this is my About section</p>
    </div>
</div>
