<div class="crit card" id="<%= crit.id %>_crit">
    <div class="divider">
        <div class="crit-pfp"><%= user.picture %></div>
        <p class="crit-name"><%= user.display_name %></p>
        <p class="crit-handle"><%= user.username %></p>
        <p><strong>·</strong></p>
        <span class="need_to_be_rendered" datetime="2016-07-07T09:24:17Z" id="crit-time-ago"><%= crit.created_on %></span>
    </div>
    <p class="crit-text"><%= crit.message %></p>
    <div class="divider crit-btns">
        <a href="#"><i class="fas fa-bug"></i><%= crit.likes %></a>
        <a href="/crit/<%= crit.id %>"><i class="far fa-comment"></i><%= crit.replies %></a>
    </div>
</div>