<div class="crit card" id="<%= crit.id %>_crit">
    <div class="divider">
        <div class="crit-pfp"><%= user.picture %></div>
        <p class="crit-name"><%= user.display_name %></p>
        <a class="crit-handle" href="/views/partials/profile.ejs"><%= user.username %></a>
        <p><strong>·</strong></p>
        <p id="crit-time-ago"><%= crit.created_on %></p>
    </div>
    <p class="crit-text"><%= crit.message %></p>
    <div class="divider crit-btns">
        <a href="#"><i class="fas fa-bug"></i><%= crit.likes %></a>
        <a href="/crit/<%= crit.id %>"><i class="far fa-comment"></i><%= crit.replies %></a>
    </div>
</div>