<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs',{page:{name:'Home'}}) %>  
<!-- HEAD EJS -->
<body>
    
    <!-- grid container for overall layout -->
    <div class="container"> 
        <div class="logo">
            <div class="logo">
            <img id="crit-logo" src="https://img.icons8.com/ios-glyphs/60/000000/bug--v1.png"/>
            <br><br>
            
        </div> 
    </div>
        <div class="side-menu">
            <%- include('partials/sidebar') %>
        </div>
        
        <!-- grid section that shows timeline of crits -->
        <div class="timeline">
            <!-- Send a Crit -->
            <% if (userId) { %>
           <form action="/crit" method="post">
                <textarea id="reply-crit" name="replyCrit" placeholder="Rely to this crit"></textarea>
                <button id="create-crit-btn">CRIT!</button>
            </form>
             <% } %>

            <%- include('partials/single-crit', { user: user, crit: crit }); %>  
            <% if (userId) { %>
           <form name="replyCrit" action="/crit/<%= crit.id %>" onsubmit="return validateForm()" method="post" required>
                <textarea id="reply-crit" name="replyCrit" placeholder="Reply to this crit"></textarea>
                <button id="reply-crit-btn">Reply!</button>
            </form>
             <% } %>
                <!-- REPLY -->
            <% for ( let i = 0; i<crit.replyCrits.length; i++ ) { %>
                <%- include('partials/single-crit', 
                {crit: crit.replyCrits[i].crit, 
                 user: crit.replyCrits[i].user})%>
            <% } %>
            
        </div>
        
        <%- include('partials/search') %>

		<div class="results">
            <%# include('/single-crit', {user: { display_name: 'Andrew', picture: src="", username: '@AndrewB'}, crit:{created_on: '', message:'Hello', likes: 1, replies:'2' }}); %> 
            <!-- template for crits and card design  -->
            
            <!-- reply: template for replies to crits -->
            
            
            <%# TODO(implement replies) %>
            <%# include('partials/single-crit', { user: user, crit: crit }); %> 

			<!-- 
            <div class="crit card reply reply-text">
                <div class="divider">
                    <div class="crit-pfp"></div>
                    <textarea class="reply-textbox" placeholder="Write reply"></textarea>
                </div>
            </div>
			-->
        </div>

    </div>
</body>
</html>

