<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs',{page:{name:'Home'}}) %>  
<!-- HEAD EJS -->
<body>
    
    <!-- grid container for overall layout -->
    <div class="container"> 
        <div class="logo">
            <div class="logo">
            <img id="crit-logo" src="https://img.icons8.com/ios-glyphs/60/000000/bug--v1.png"/>
            <br><br>
            
        </div> 
    </div>
        <div class="side-menu">
            <%-include('partials/sidebar') %>
        </div>
        <div class="results">
            <%# include('/single-crit', {user: { display_name: 'Andrew', picture: src="", username: '@AndrewB'}, crit:{created_on: '', message:'Hello', likes: 1, replies:'2' }}); %> 
            <!-- template for crits and card design  -->
            
            <!-- reply: template for replies to crits -->
            
            
            <%- include('partials/single-crit', {user: { display_name: 'Liaaaa', picture: src="", username: '@Lia'}, crit:{created_on: '', message:'This is a reply', likes: 1, replies:0 }}); %> 

            <div class="crit card reply reply-text">
                <div class="divider">
                    <div class="crit-pfp"></div>
                    <textarea class="reply-textbox" placeholder="Write reply"></textarea>
                </div>
            </div>
        </div>
        <!-- grid section that shows timeline of crits -->
        <div class="timeline">
            <!-- Send a Crit -->
            <form action="/create" method="post">
                <textarea id="create-crit" name="createCrit" placeholder="Create a Crit!"></textarea>
                <button id="create-crit-btn">CRIT!</button>
            </form>

            <!-- general container used for keeping the element relative like the other elements, but making the child absolute to adjust its position -->
            <div id="profile-header" class="card">
                <div id="header-image"></div>
                <div class="parent-container divider">
                    <div id="profile-pic"></div>
                </div>
                <div class="parent-container" id="header-text">
                    <p id="name">lia</p>
                    <p id="handle">@liaaa</p>
                    <p id="bio">i love cute things, please be friendly!</p>
                    <div class="divider">
                        <a href="#"><span id="Following">100</span> following</a>
                        <a href="#"><span id="Followers">200</span> followers</a>
                    </div>
                </div>
            </div>
            <%- include('partials/single-crit', {user: { display_name: 'Andrew', picture: src="", username: '@AndrewB'}, crit:{created_on: '', message:'Hello', likes: 1, replies:'2' }}); %>    
                <!-- SINGLE CRIT EJS -->
            
        </div>
        
        <%- include('partials/search') %>
    </div>
</body>
</html>