<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/logo.css">
    <!-- Make a way to link Profile name in the title -->
    <title>
        <%= user.display_name %>
    </title>
</head
<body>
    <div class="crit-pfp"></div> 
    <!-- make a way for the datebase can change this to match crit-handle -->
<div class="crit-pfp"><%= user.picture %></div>
<p class="crit-name"><%= user.display_name %></p>
<p class="crit-handle"><%= user.username %></p>
<p class="Crit-Points"><%= user.Crit-Pointsgit pull
     %></p>
<p class="Crit-location"><%= user.location %></p>

<!-- the last time they was online -->
<p id="crit-time-live"><%= crit.time_alive %></p>
<p><strong>·</strong></p>

<p class="Crit-Bio"><%= user.bio %></p>
<class class=Crit-Contact><%= user.github %></class>
    </div>
</body>
</html>