<%- include('partials/head.ejs',{page:{name:'Profile'}}) %>

<%- include('partials/search') %>
<%-include('partials/sidebar') %>

        <div class="timeline">
        <div id="profile-header" class="card">
            <div id="header-image"></div>
            <div class="parent-container divider">
                <div id="profile-pic"></div>
            </div>
            <div class="parent-container" id="header-text">
                <p class="crit-name" id="name"><%= user.display_name %></p>
                <p class="crit-handle" id="handle"><%= user.username %></p>
                <p id="bio">i love cute things, please be friendly!</p>
                <div class="divider">
                    <a href="#"><span id="Following">100</span> following</a>
                    <a href="#"><span id="Followers">200</span> followers</a>
                <%- include('partials/single-crit')%>
                </div>
            </div>
        </div>