<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs',{page:{name:'Home'}}) %>  
<!-- HEAD EJS -->
<body>
    <main>
        <%-include('partials/sidebar') %>
        <div class="timeline">
            <div class="edit crit card">
                <form action="/settings" method="POST">
                    <h3>Edit User Info</h3>
                    <label for="Email">Email</label>
                    <input name="email" type="text" placeholder="Enter New Email" value="<%= userInfo[0].user.email %>">
                    <br><br>
                    <label for="Nickname">Nickname</label>
                    <input name="display_name" type="text" placeholder="Enter New Nickname" value="<%= userInfo[0].user.display_name %>">
                    <br><br>
                    <button>Save</button>
                </form>
            </div>

            <div class="edit crit card">
                <form action="/user/password" method="POST">
                    <h3>Change Password</h3>
                    <label for="Old Password">Old Password</label>
                    <input name="old_password" type="password" placeholder="Enter Old Password">
                    <br><br>
                    <label for="New Password">New Password</label>
                    <input name="password" type="password" placeholder="Enter New Password" value="">
                    <br><br>
                    <label for="Confirm Password">Confirm Password</label>
                    <input name="check_password" type="password" placeholder="Confirm New Password" value="">
                    <br><br>
                    <button>Save</button>
                </form>
            </div>
        </div>    
        <%- include('partials/search') %>
    </main>
</body>
</html>

