<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs',{page:{name:'Home'}}) %>  
<!-- HEAD EJS -->
<body>
    <main>
        <%-include('partials/sidebar') %>
        <div class="timeline">
            <!-- displays crits  -->
            <% if (mode == 'timeline') { %>
                <%- include('partials/create-crit.ejs') %>
                <% for (let i = 0; i<crits.length; i++){ %>
                    <%- include('partials/single-crit', {crit: crits[i].crit, user:crits[i].user})%>
                <% } %>
            <% } %>
            <!-- displays search results -->
            <% if (mode == 'search') {%>
                <% for (let i = 0; i<crit_results.length; i++){ %>
                    <%- include('partials/single-crit', {crit: crit_results[i].crit, user:crit_results[i].user})%>
                <% } %>
            <% } %>
            <!-- displays single crit -->
            <% if (mode == 'single-crit') {%>
                <%- include('partials/single-crit', { user: crit.user, crit: crit.crit }); %>
                <!-- REPLY -->
                <% for ( let i = 0; i<crit.crit.replyCrits.length; i++ ) { %>
                    <%- include('partials/single-crit', 
                    {crit: crit.crit.replyCrits[i].crit, 
                    user: crit.crit.replyCrits[i].user})%>
                <% } %>
                <form action="/crit/<%= crit.crit.id %>" method="post">
                    <input type="text" id="reply-crit" name="replyCrit" >
                    <button id="reply-crit-btn">Reply!</button>
                    </form>      
            <% } %>
        </div>    
        <%- include('partials/search') %>
    </main>
</body>
</html>